<% include ../header %>
<script src="/socket.io/socket.io.js"></script>
<script>
var socket = io('https://exemplos-livro-nodejs-c9-kairogyn.c9.io'); 
socket.on('send-client', function (msg) {
    var chat = document.getElementById('chat');
    chat.innerHTML += msg;
});


var enviar = function() {
  var nome = document.getElementById('nome').value;
  var msg = document.getElementById('msg').value;
  socket.emit('send-server', {nome: nome, msg: msg});
};

</script>
        <header>
           <h2>Ntalk - Chat</h2>
        </header>
        <section>
        <pre id="chat" style="height:250px;"></pre>
        <input type="hidden" id="nome" name="nome" value="<%- usuario.nome%>">
        <input type="text" id="msg" name="msg" placeholder="Mensagem">
        <button onclick="enviar();">Enviar</button>
        </section>
<% include ../exit %>
<% include ../footer %>