<% include ../header %>
<script src="/socket.io/socket.io.js"></script>
<script>
var socket = io('https://exemplos-livro-nodejs-c9-kairogyn.c9.io'); 

socket.emit('join','<%- sala %>')

socket.on('send-client', function (msg) {
    var chat = document.getElementById('chat');
    chat.innerHTML += msg;
    scrollChat();
});


document.onkeyup=function(e)
{ 
    if(e.which == 13)
    {
        enviar();
    }
    
}



var enviar = function() {
  var msg = document.getElementById('msg').value;
  socket.emit('send-server', $.trim(msg));
  document.getElementById('msg').value = "";
  $("#msg").focus();
  scrollChat();
};

var scrollChat = function() {
  var pre = $("#chat");
  pre.scrollTop(pre.prop("scrollHeight") );
};





</script>
        <header>
           <h2>Kairo's - Chat</h2>
        </header>
  <div class="form-group">
        <pre id="chat" style="min-height:150px;max-height:200px;"></pre>
        </div>
        <div class="form-group">
        <textarea class="form-control" id="msg" name="msg" placeholder="Mensagem" rows="3" autofocus></textarea>
        </div>
         <div class="form-group">
        <button type="submit" class="btn btn-default" onclick="enviar();">Enviar</button>&nbsp;<a style="float:'rigth';" class="button btn btn-danger" href='/sair'>Sair</a>
        </div>
       
<% include ../footer %>