<% include /header %>
        <header>
            <h1>
                Ntalk
            </h1>
            <h4>Página não encontrada :(</h2>
        </header>
        <hr>
        <p>Volte para a <a href="/">HOME</a> :)</p>
<% include /footer %>