

<% include /header %>
        <header>
            <h1>
                Ntalk
            </h1>
            <h4>Ooh não deam :(</h2>
        </header>
        <p>:'( Problemas no servidor</p>
        <p>Detalhes: </p>
        <%- error.message%>
        <hr>
        <p>Volte para a <a href="/">HOME</a> :)</p>
<% include /footer %>