<!DOCTYPE html>
<html>
   <% include ../header %>
        <header>
            <h1>
                Ntalk
            </h1>
            <h2>Lista de Contatos</h2>
        </header>
        <section>
           <p>Bem-vindo <%- usuario.nome%></p>
        </section>
<% include ../exit %>
<% include ../footer %>